{{ partial "head.html" . }}

<main class="index">
  <section class="article-list">
    <h1>{{$.Title}}</h1>

    {{ range (where (where .Site.RegularPages "Section" "blog") "Params.nohtml" "!=" "true") }}
    <div class="article">
      <span class="date">{{.Date.Format "January 2, 2006"}}</span>
      {{- if .OutputFormats.Get "html" }}
      <a href="{{.Permalink}}">{{.Title}}</a>
      {{- else if .OutputFormats.Get "gemtext" }}
      {{ with .OutputFormats.Get "gemtext" }}
      <a href="{{replace .Permalink "/gemini" "" 1 | safeURL}}">{{end}}{{.Title}}</a>
      <small>[<a href="/gemini.html">what is gemini://?</a>]</small>
      {{ end }}
    </div>
    {{ end }}
  </section>

  <aside>
    <img
      src="https://drewdevault.com/avatar-148.jpg"
      alt="My avatar: an astronaut in a spacesuit with a school of fish and the moon visible in the reflection on their visor"
      width="148" height="148" />

    <div class="text-center">
      <a class="rss" href="/blog/index.xml">rss</a>
      ·
      <a href="misc.html">misc</a>
      ·
      <a href="gemini://drewdevault.com">gemini</a>
    </div>

    <dl class="external-links">
      <dt>email</dt>
      <dd><a href="mailto:sir@cmpwn.com">sir@cmpwn.com</a></dd>
      <dt>sourcehut</dt>
      <dd><a href="https://sr.ht/~sircmpwn">~sircmpwn</a></dd>
      <dt>peertube</dt>
      <dd><a href="https://spacepub.space/video-channels/sircmpwn">spacepub.space</a></dd>
      <dt>pgp</dt>
      <dd><a href="/publickey.txt">7BC79407090047CA</a></dd>
      <dt>donate</dt>
      <dd><a href="https://drewdevault.com/donate">fosspay</a></dd>
    </dl>
  </aside>
</main>
